<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Imprimir</h2>
  <h1>Hola! {{ twitter }}</h1>
  <h2>Asignar</h2>
  <input type="text" [value]="twitter">
  <h2>Ejecutar</h2>
  <button ion-button (click)="showAlert('nicolas')">Hola</button>
  <h2>Asignar y ejecutar</h2>
  <input type="text" [value]="twitter" (input)="updateTwitter( $event )">
  <h2>Asignar y ejeuctar (ngModel)</h2>
  <input type="text" [(ngModel)]="twitter">
  <button ion-button (click)="addPerson()">agregar</button>
  <button ion-button (click)="removePerson()">remove</button>
  <ion-list>
    <ion-item *ngIf="persons.length == 0">La lista esta vacia</ion-item>
    <ion-item *ngFor="let person of persons">
      {{ person.getName() }}-{{ person.getAge() }}
      <strong *ngIf="person.getIsSingle() == true">Es feliz</strong>
      <strong *ngIf="person.getIsSingle() == false">No Es feliz</strong>
      <strong *ngIf="person.getAge() > 30">tiene experiencia</strong>
    </ion-item>
  </ion-list>
  <p #myVar>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nisi illum, aspernatur a aliquam molestias dolore repellat necessitatibus veniam dolorem eligendi ratione ex minus voluptate odio numquam at, nostrum rerum.</p>
  <button ion-button (click)="changeText( myVar )">cambiar texto</button>
</ion-content>
